.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  width: 250px;
  background: #7386d5;
  color: #fff;
  margin-left: -250px;
  transition: all 0.5s;
}

.sidebar-header {
  background: #6d7fcc;
}

.sidebar-header h3 {
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.menu-open {
  background: #6d7fcc;
}

.nav-item:hover,
.nav-item:focus {
  color: #7386d5;
  background: #fff;
}

.items-menu {
  color: #fff;
  background: #6d7fcc;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  top: 10%;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #5466b3;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #3a4c99;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

@media only screen and (min-width: 600px) {
  .content {
    padding: 20px;
    margin-left: 250px;
    height: 100vh;
  }

  /*We fix the sidebar while the screen is wide*/
  .sidebar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: visible;
    margin-left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .content {
    padding: 20px;
    margin-left: 0px;
    height: 100vh;
  }

  .content.is-open {
    width: 0;
    margin-left: 0;
    overflow: hidden;
    padding: 0;
  }

  .sidebar {
    position: static;
    z-index: 0;
    height: 100%;
    overflow-x: visible;
  }

  .sidebar {
    width: 250px;
    background: #7386d5;
    color: #fff;
    margin-left: -250px;
    transition: all 0.5s;
  }

  .sidebar.is-open {
    width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
  }
}
