.AppGrid-Card {
  max-height: 80vh;
}

.AppGrid-Body {
  overflow: hidden;
  margin-bottom: 20px;
  text-overflow: clip;
}

@media (max-width: 850px) {
  .AppGrid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1vw;
    row-gap: 20px;
  }
}

@media (min-width: 850px) and (max-width: 1200px) {
  .AppGrid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1vw;
    row-gap: 20px;
  }
}

@media (min-width: 1200px) {
  .AppGrid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1vw;
    row-gap: 20px;
  }
}

.AppGrid-Card:hover {
  cursor: pointer;
}
